.container

{
overflow:hidden;
display:grid;
grid-template-columns:60px auto  30px;
grid-template-rows:20% 400px 200px auto auto 25%;
grid-column-gap:50px;
grid-row-gap :40px;

}

.item-header

{
padding-left:24vw;
grid-column-start:2;
grid-column-end:3;
grid-row-start:1;
grid-row-end:2;
font-color:white;
align-self:start;
letter-spacing:0.25vw;
text-align:center;
-webkit-animation-duration: 3s ease;
}

div.item-header a{
	color:black;
	border-bottom:0px;
	text-decoration:none;

}

div.item-header a:hover
{
	
	
	border-bottom:solid 1px;
	-webkit-transition: all 1s ease;
}

/*div.item-image h1{
	font-size:0px;
	transform-origin: bottom;
	-webkit-transition: all 1s ease;
}

div.item-image:hover h1{

	font-size:34px;
	-webkit-transition: all 1s ease;
}
*/

div.item-image

{

background: url('background.jpg') no-repeat center fixed;
text-align:center;

grid-column-start:1;
grid-column-end:6;
grid-row-start:2;
grid-row-end:3;
font-color:black;
-webkit-animation-duration:- 3s ease;
}









.item-icon-display

{



grid-column-start:2;
grid-column-end:5;
grid-row-start:3;
grid-row-end:4;
font-color:black;

}

.blockquote{

background:#cdcdc1;
grid-column-start:1;
grid-column-end:6;
grid-row-start:4;
grid-row-end:5;
text-align:center;

}

div.blockquote blockquote{
padding:2em;
font-color:white;
line-height:1.35;
font-size:150%;
transform: scale(0.90);
transition: all 2s ease;
}
div.blockquote blockquote:hover{
	transform:scale(1.5);
	transition: all 1s ease;
}

.item-register

{

grid-column-start:2;
grid-column-end:5;
grid-row-start:5;
grid-row-end:6;
padding-left:4vw;
justify-self:center;



}
.item-register form
{
display:flex;
flex-direction:column;

}
::-webkit-input-placeholder {
  font-weight:700;
  opacity:0.7;
  
}

.item-register #button
{

padding-top:0.5vw;
border-radius: 6px; border: 1px solid ;
border:#cdcdc1;
display: inline-block;
cursor: pointer;
background: #cdcdc1;
font-weight:700;
width:250px;

font-weight: bold;

}

.item-register input

{
	
padding-top:px;
padding-bottom:10px;
margin-top:10px;
margin-bottom:10px;
width:250px;
font-weight: 700;
font-size:100%;
}

div.item-register p
{
	-webkit-transition-duration:1s;
}


.item-footer{

grid-column-start:1;
grid-column-end:6;
grid-row-start:6;
grid-row-end:7;
font-color:white;
padding-left:20vw;


}


.icons

{

	
	display:flex;
}



div.icon1 h3{
	font-size: 0px;
}

div.icon1
{
	text-align:center;
	transition:all 0.5s ease;
	flex: 1 0 25%;
	padding:5px;
	
}
div.icon1:hover
{

	transform: rotateX(360deg) scale(1.2) ;
	transition: all 1s ease;
}
div.icon1:hover h3{
	font-size:20px;
}


img {background-size:cover vertical-align:top;}
figure {
  background:#789;
  color:white;
  margin:0; padding:0;
  text-align:center;
}
figcaption {padding:.8em;}





h1, h2, h3, h4, h5, h6 {
	
	font-weight: 300;
}
h1 { font-size: 34px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

#bigger{


	font-size:70px;
	padding-bottom:50px;
}


CSS .wow { visibility: hidden; }